.productsContainer {
    display: inline-flex;
    padding:2rem;
    .cards {
        margin: auto 2rem;
       
        .menu-card {
            padding-bottom: 0.5rem;
            width: 16rem;
            border-radius: 2rem;
            border: 3px solid mediumorchid;
            box-shadow: 5px 5px 20px mediumorchid;

            ::ng-deep {
                mat-card-title {
                    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
                    color: darkorchid;
                    font-size: 17px;
                    font-weight: bold;
                }
                .material-icons {
                    font-size: 25px;
                    height: 25px;
                    width: 35px;
                    
                    cursor: pointer;
                }

                .material-icons.colorIcon{
                    color: mediumorchid;
                }

                .material-icons.greyIcon{
                    color: grey;
                    pointer-events: none;
                }

                mat-card-subtitle {
                    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
                    margin-bottom: 0.5rem;

                    .subtitle{
                        .txt{
                            color: darkgray;
                            font-size: 14px;
                            font-weight: bold;
                        }
                        .info{
                            color: lightsalmon;
                            font-size: 14px;
                            font-weight: bold;
                        }
                    }
                }

                mat-card-content {
                    display: flex;
                    justify-content: center;

                    img {
                        height: 8rem;
                        width: 8rem;
                        margin: 1rem;
                        border-radius: 1rem;
                    }
                }

                mat-card-footer {
                    margin: 1rem;
                    .btn {
                        text-align: center;
                        display: flex;
                        justify-content: center;
                        button {
                            background: transparent;
                            border: 2px solid mediumorchid;
                            padding: 1px 5px;
                            margin: 0 5px;
                            width: 2rem;
                            span {
                                padding: 0 5px;
                            }
                        }
                    }
                }
            }
        }
    }
}
