.footerContainer{
    bottom: 0;
    position: fixed;
    .leftMenu{
        display: flex;
        width:49%;
        justify-content: flex-start;

        img{
            height: 30px;
        }

        .location{
            height: 25px;
        }

        div{
            margin-right: 2%;
        }
    }

    .rightMenu{
        display: flex;
        width:49%;
        justify-content: flex-end;

        span{
            margin-left: 1%;
            font-size: 14px !important;
        }
    }

    @media only screen and (max-width : 991.98px){
        .rightMenu{
            margin-right: 3rem;
        }
    }
}

