<div class="footerContainer">
  <div class="leftMenu menu">

    <div>
      <a href="https://www.facebook.com/" target="_blank">
        <img src="../../assets/icons/facebook.svg" alt="facebook" aria-label="facebook">
      </a>
    </div>
    <div>
      <a href="https://www.instagram.com/" target="_blank">
        <img src="../../assets/icons/instagram.svg" alt="instagram" aria-label="instagram">
      </a>
    </div>
    <div>
      <a href="https://www.twitter.com/" target="_blank">
        <img src="../../assets/icons/twitter.svg" alt="twitter" aria-label="twitter">
      </a>
    </div>
    <div>
      <a href="https://www.google.com/maps?output=search&q=niagara+falls&entry=mc&sa=X&ved=2ahUKEwiig8T11IyAAxXajokEHYMYCUYQ0pQJegQIDBAB"
        target="_blank">
        <img class="location" src="../../assets/icons/location.png" alt="location" aria-label="location">
      </a>
    </div>
  </div>

  <div class="rightMenu menu">
    <img src="../../assets/icons/copyright.svg" alt="copyright, Siya's Treats, 2023"
      aria-label="copyright, Siya's Treats, 2023" title="Siya's Treats, 2023">
    <span *ngIf="!isSmallDevice">
      Siya's Treats, 2023
    </span>
  </div>
</div>