<div class="bodyContainer">

  <object data="../../../assets/staticFiles/terms.html" *ngIf="sectionToShow == 'terms'" 
  [style.height]="height"  [style.width]="width">
  </object>

  <object data="../../../assets/staticFiles/about.html" *ngIf="sectionToShow == 'about'"
  [style.height]="height"  [style.width]="width">
  </object>

  <object data="../../../assets/staticFiles/privacy.html" *ngIf="sectionToShow == 'privacy'"
  [style.height]="height"  [style.width]="width">
  </object>

  <object data="../../../assets/staticFiles/contact.html" *ngIf="sectionToShow == 'contact'"
  [style.height]="height"  [style.width]="width">
  </object>
</div>