body {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 15px;
    color: rgb(28, 32, 34);
    break-inside: avoid;
    text-overflow: clip !important;
}

.dark-mode{
    background-color: #000000e3;
    color: whitesmoke !important;
}

h1,
h2,
h3 {
    margin-top: 10px;
}

h1 {
    text-decoration: underline;
}

h3 {
    color: rgb(100, 97, 97);
    font-size: bold;
}

h4 {
    font-size: 18px;
    font: bold;
    text-decoration: underline;
}

li {
    font-size: 14px;
    font-weight: bold;
    text-decoration: underline;
    margin: 7px auto;
}

.container {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}

.item {
    border: 2px dotted mediumorchid;
    border-radius: 5px;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    width: 10rem;
}

p {
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
}

@media screen and (max-width:999px) {
    .item {
        display: block;
        text-align: left;
        border:none;
        padding : unset;
        width: fit-content !important;
    }
    
}