<div class="chipsContainer">

    <!-- <div class="specialChips">
        <mat-chip-listbox aria-label="CLEAR Filter">
            <mat-chip-option (click)="selectedChip(clearAll)">
                {{clearAll | titlecase}}
            </mat-chip-option>
        </mat-chip-listbox>
    </div> -->

    <mat-chip-listbox aria-label="Filter items" *ngFor="let chip of chips">
        <mat-chip-option (click)="selectedChip(chip)">
            {{chip | titlecase}}
        </mat-chip-option>
    </mat-chip-listbox>

</div>