/* You can add global styles to this file, and also import other style files */
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
    height: 100%;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    overflow:auto !important;
}

body {
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 15px;
}

.dark-mode{
    background-color:#000000e3;
    color: whitesmoke !important;
}

mat-icon {
    cursor: pointer;
}

.footerContainer,
.headerContainer {
    width: 100%;
    padding: 0.5%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 18px;
    font-weight: bold;
    background-color: mediumpurple;
    overflow: hidden !important;

    a {
        text-decoration: none;
        cursor: pointer;
    }

    .menu {
        margin: auto 5%;
        font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
        font-size: 18px;
        font-weight: bold;
    }

    a,
    span {
        font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
        font-size: 18px;
        font-weight: bold;
    }
}

.bodyContainer {
    margin: 5%;
}

