<div class="bodyContainer">
    <div class="leftMenu">
        <button class="catButton">Categories</button>
        <app-categories [categories]="categories" (emitFilterCategory)="fiterCategory($event)"></app-categories>
    </div>
    <div class="rightContent">
        <ng-container *ngIf="subCatItems.length > 0">
            <app-chips [subCatItems]="subCatItems" (selectedFiltersToEmit)="getFilters($event)"></app-chips>
        </ng-container>
        <ng-container *ngFor="let x of subCatItems">
            <ng-container [ngTemplateOutlet]="cards" [ngTemplateOutletContext]="{subCat:x}"></ng-container>
        </ng-container>
    </div>
</div>

<ng-template #cards let-subCat='subCat'>
   <app-products [subCat]="subCat"></app-products>
</ng-template>